<br>

<font size=6 color='green'>**Visualização gráfica dos principais modais utilizados como transporte na Grande SP**</font>

---
---

> Atividade prática proposta da matéria: Visualização Computacional [Semana 6 - UNIVESP]

In [2]:
%pwd

'/home/fernandogalvao/Documentos/dataviz-mobilidade-urbana-grandeSP'

In [3]:
!head dataset.csv

MODOPRIN,FE_VIA,CRITERIOBR
A pe,22.132647,C1
A pe,22.132647,C1
Metro,18.882487,C1
Metro,18.882487,C1
Taxi,18.882487,C1
A pe,22.132647,C2
A pe,22.132647,C2
A pe,22.132647,C2
A pe,22.132647,C2

In [1]:
import pandas as pd
import plotly.express as px

In [4]:
df = pd.read_csv(filepath_or_buffer='dataset.csv')
df.head()

  MODOPRIN     FE_VIA CRITERIOBR
0     A pe  22.132647         C1
1     A pe  22.132647         C1
2    Metro  18.882487         C1
3    Metro  18.882487         C1
4     Taxi  18.882487         C1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183092 entries, 0 to 183091
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   MODOPRIN    183092 non-null  object
 1   FE_VIA      183092 non-null  float64
 2   CRITERIOBR  183092 non-null  object
dtypes: float64(1), object(2)
memory usage: 4.2+ MB

In [ ]:
fig_sunburst = px.sunburst(data_frame=df, 
                           path=['MODOPRIN', 'C